.header {
  text-decoration: none;
}

.header nav {
  list-style: none;
  padding-inline-start: 0;
  padding: 10px;
}

.block {
  display: block;
  /* border: 1px solid #ccc; */
  height: 3rem;
  position: relative;
}

.header li {
  font-size: 1rem;
  padding: 1rem;
  /* margin: 1rem; */
  border-radius: 1.5rem;
  background-color: mistyrose;
  display: inline-block;
  position: absolute;
}

.fromMe {
  right: 0px;
  /* float: right; */
  /* text-align: right; */
}

.fromParner {
  left: 0px;
  /* float: left; */
}